@font-face {
  font-family: angel;
  src: url('assets/font/AngelicWar.ttf');
}
html {
  background-color: #aed9ff;
}
* {box-sizing: border-box;}
body {
  width: 800px;
  margin: 0 0 2%;
  box-sizing: content-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  background-color: antiquewhite;
}
header {
  width: 100%;
  height: 200px;
  background-color: aqua;
}
  #oa {
    position: absolute;
    margin: 20px 40px;
    font-size: 7rem;
    font-family: angel, 'Times New Roman', serif;
  }
  #st {
    position: absolute;
    margin: 150px 450px;
    font-size: 2.3rem;
    font-style: italic;
    text-wrap: nowrap;
  }
#container {display: flex;height: min-content;}
nav:not(.nav-in) {
  order: 1;
  width: 20%;
  background-color: aliceblue;
}
  nav a {
    display: block;
    margin: 3px 10px;
    padding: 1px 5px;
    font-size: 1.1rem;
    text-decoration: none;
    background-color: #aeffeb;
  }
main {
  order: 2;
  &:not(#home){
    width: 80%;
    padding: 3px;
  }
}
  h1, h2, h3, h4, summary:has(h3) {
    box-sizing: border-box;
    inline-size: stretch;
    width: calc(100% - 10px);
    margin: 3px 5px;
    margin-bottom: 3px;
    padding: 2px 6px;
    font-weight: normal;
    text-align: left;
    background-color: #9b9bff;
  }
  h1, h2 {font-size: 1.5rem;}
  h3 {font-size: 1.3rem;margin: 3px 5px;}
  h4 {font-size: 1.2rem;}
  .a {
    padding: 0 10px;
    overflow-y: auto;
  }
footer {padding: 2px;}
.center{text-align: center;}
time {font-weight: bold;}
iframe {border: none;}
p {margin: 0 3px 7px;}
li {list-style-type: "- ";}
summary > h3 {display: inline;background: none;}