menu {
  display: flex;
}
li {
  list-style-type: none;
  & > a {
    margin: 0 5px;
    padding: 1px 5px;
    color: #052270;
    font-size: 1.1rem;
    text-decoration: none;
    background-color: #a6dbff;
    border: outset 3px #739fe0;
    box-shadow: 3px 3px 2px #02071d;
    &:hover {
      background-color: #75acd8;
      border: inset 3px #3d70aa;
      box-shadow: inset 0 0 4px #2b3a7a;
    }
  }
}
.tab:not(:target) {display: none}